<%- include('partials/headerAdmin'); -%>

<head>
  <meta charset="UTF-8" />
  <title>Revenue Chart</title>
</head>

<body>
  <div class="containerOfRevenue">
    <div>
      <br />
      <!-- Display top-selling products within each category -->
      <h4>Top-selling products within each category</h4>

      <!-- Display Wine category information if available -->
      <%if(wineMostSold){%>
      <div id="Category1-div" class="category">
        <strong> WINE </strong>
        <br />
        <img class="revenueImage" src="/<%= wineMostSold.image %>" alt="" />
        <p><%= wineMostSold.name %></p>
        <p>Selling amount: <%= wineMostSold.purchaseQuantity %></p>
      </div>

      <!-- Display Beer category information if available -->
      <%}%> <%if(beerMostSold){%>
      <div id="Category2-div" class="category">
        <strong> BEER </strong>
        <br />
        <img class="revenueImage" src="/<%= beerMostSold.image %>" alt="" />
        <p><%= beerMostSold.name %></p>
        <p>Selling amount: <%= beerMostSold.purchaseQuantity %></p>
      </div>
      <br />

      <!-- Display Accessories category information if available -->
      <%}%> <%if(accessoriesMostSold){%>
      <div id="Category3-div" class="category2">
        <strong> ACCESSORIES </strong>:
        <br />
        <img class="revenueImage" src="/<%= accessoriesMostSold.image %>" alt="" />
        <p><%= accessoriesMostSold.name %></p>
        <p>Selling amount: <%= accessoriesMostSold.purchaseQuantity %></p>
      </div>

      <!-- Display Alcohol category information if available -->
      <%}%> <%if(alcoholMostSold){%>
      <div id="Category3-div" class="category2">
        <strong> ALCOHOL </strong>
        <br />
        <img class="revenueImage" src="/<%= alcoholMostSold.image %>" alt="" />
        <p><%= alcoholMostSold.name %></p>
        <p>Selling amount: <%= alcoholMostSold.purchaseQuantity %></p>
      </div>
      <%}%>
    </div>

    <!-- Create canvas for the chart -->
    <div class="theChart">
      <br />
      <h4>Revenue Chart</h4>
      <div class="chart">
        <canvas id="revenueChart"></canvas>
      </div>
    </div>
  </div>

  <script>
    //Creating the Revenue Chart
    document.getElementById("revenueManage").style.backgroundColor = "#f9df4b";
    document.addEventListener("DOMContentLoaded", async function () {
      const months = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"];

      // Parse revenueData from JSON format
      const revenueData1 = await "<%= JSON.stringify(revenueData) %>";
      var revenueData = JSON.parse(revenueData1);

      // Create the Revenue Chart using Chart.js
      console.log(revenueData);
      const ctx = document.getElementById("revenueChart").getContext("2d");
      const chart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: months,
          datasets: [
            {
              label: "Monthly Revenue",
              backgroundColor: "rgba(75, 192, 192, 0.2)",
              borderColor: "rgba(75, 192, 192, 1)",
              borderWidth: 1,
              data: revenueData,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    });
  </script>
  <br />

  <%- include('partials/footer'); -%>
</body>
