<%- include('partials/header'); -%>

<head>
  <title><%= product.name %></title>
</head>

<!-- Product information -->
<div class="productcard" data-category="<%= product.category %>" id="<%= product._id %>" theId="<%= product._id %>" onclick="goToProduct(event)">
  <!-- Product image -->
  <img src="/<%= product.image %>" alt="Example Image" theId="<%= product._id %>" />
  <!-- Product name -->
  <h3 class="product-title" theId="<%= product._id %>"><%= product.name %></h3>
  <!-- Product description -->
  <p class="product-description" theId="<%= product._id %>"><%= product.description %></p>
  <!-- Product price -->
  <p class="product-price" theId="<%= product._id %>">Price: $<%= product.price.toFixed(2) %></p>
  <input type="hidden" name="drinkId" value="<%= product.id %>" id="drinkId" />
  <input type="hidden" name="userId" value="<%= userId %>" id="userId" />

  <!-- Display sold-out message if the product is not available -->
  <% if(product.quantity==0){ %>
  <p class="sold-out-message" style="font-size: 25px" theId="<%= product._id %>">Sold Out</p>
  <%}else{%>
  <!-- Display quantity input and add-to-cart button if the product is available -->
  <label for="quantity" theId="<%= product._id %>">Quantity</label>
  <input type="number" id="quantity" data-item-id="<%= product.id %>" class="quantity" name="quantity" min="1" value="1" required />
  <button class="add-to-cart" type="submit" data-item-id="<%= product.id %> " data-userId="<%= userId %>" onclick="addToCart(event)">
    Add to Cart
  </button>

  <%}%>
</div>

<script>
  // Function to add the selected item to the cart
  async function addToCart(event) {
    const allQuantity = document.querySelectorAll(".quantity");
    const drinkId = event.target.getAttribute("data-item-id");
    const userId = event.target.getAttribute("data-userid");
    var drinkQuantity = 1;

    await allQuantity.forEach((quantity) => {
      console.log(drinkId);
      console.log(quantity.getAttribute("data-item-id"));
      if (quantity.getAttribute("data-item-id").trim() == drinkId.trim()) {
        drinkQuantity = quantity.value;
      }
    });

    // Prepare the request body
    var body = { drinkId: drinkId, quantity: drinkQuantity, userId: userId };

    // Send a POST request to add the item to the cart
    const rawResponse = await fetch("http://localhost:3000/order/add-to-cart", {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify(body),
    });

    // Get the response content
    const content = await rawResponse.json();
    console.log("the content : ");
    console.log(content);
  }
</script>

<%- include('partials/footer'); -%>
