<%- include('partials/header'); -%>

    <header>
        <!-- <div class="topnav">
            <a href="/">Home</a>
            <a href="/order">Order Now</a>
            <input type="text" placeholder="Search..">
            <a href="/order/cart" class="icon"><i class="fa fa-cart-shopping"></i></a>
            <a class="icon" href="/profile"><i class="fa-regular fa-user"></i></a>
        </div> -->


    </header>
    <h1>Spiritual Drinks Menu</h1>

    <div class="filters">
        <div class="searchBar">
            <input id="searchBar" type="text" placeholder="Search..">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>

        <label class="filterLabel" for="filter">Filter by price:</label>
        <select id="filter">
            <option value="all">All</option>
            <option value="3">Under $3</option>
            <option value="10">Under $10</option>
            <option value="20">Under $20</option>
            <option value="30">Under $30</option>
            <option value="40">Under $40</option>

        </select>
        <label class="filterLabel">Filter by Categories:</label>
        <form id="categoryFilterForm" dir="ltr" class="filter-form">
            <label>
                <input type="checkbox" name="category" value="Wine">Wine
            </label>
            <label>
                <input type="checkbox" name="category" value="Beer">Beer
            </label>
            <label>
                <input type="checkbox" name="category" value="Alcohol">
                Alcohol
            </label>
            <label>
                <input type="checkbox" name="category" value="Accessions">
                Accessions
            </label>
            <!-- <button type="reset">Reset</button> -->
        </form>
    </div>
    <main class="contentPage">
        <h2>Our Products</h2>
        <ul class="productsContainer" id="productsContainer">
            <% drinks.forEach((drink)=> { %>
                <li class="product-card" data-category="<%= drink.category %>" id="<%= drink._id %>">
                    <img src="/<%= drink.image %>" alt="Example Image">
                    <h3 class="product-title">
                        <%= drink.name %>
                    </h3>
                    <p class="product-description">
                        <%= drink.description %>
                    </p>
                    <p class="product-price">Price: $<%= drink.price.toFixed(2) %>
                    </p>
                    <input type="hidden" name="drinkId" value="<%= drink.id %>" id="drinkId">
                    <input type="hidden" name="userId" value="<%= userId %>" id="userId">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" data-item-id="<%= drink.id %>" class="quantity" name="quantity"
                        min="1" value="1" required>
                    <button class="add-to-cart" type="submit" data-item-id="<%= drink.id %> "
                        data-userId="<%= userId %>" onclick="addToCart(event)">Add to Cart</button>
                </li>
                <% }); %>
        </ul>

    </main>
    <script>
        var products1 = `<%- JSON.stringify(drinks) %>`;
        var product = JSON.parse(products1);
        const categories = [...new Set(product.map((item) => { return item }))]

        document.getElementById('searchBar').addEventListener('keyup', (e) => {
            const searchData = e.target.value.toLowerCase();
            const filteredData = categories.filter((item) => {
                return (
                    item.name.toLowerCase().includes(searchData)
                )
            })
            product.forEach(pro => {
                if (filteredData.includes(pro)) {
                    document.getElementById(`${pro._id}`).style.display = 'block';
                } else {
                    document.getElementById(`${pro._id}`).style.display = 'none';
                }
            });
        });
        async function addToCart(event) {
            const allQuantity = document.querySelectorAll('.quantity')
            const drinkId = event.target.getAttribute('data-item-id')
            const userId = event.target.getAttribute('data-userid');
            var drinkQuantity = 1;

            await allQuantity.forEach(quantity => {
                console.log(drinkId)
                console.log(quantity.getAttribute('data-item-id'))
                if (quantity.getAttribute('data-item-id').trim() == drinkId.trim()) {
                    drinkQuantity = quantity.value;

                }
            })
            var body = { "drinkId": drinkId, "quantity": drinkQuantity, "userId": userId }
            const rawResponse = await fetch('http://localhost:3000/order/add-to-cart', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)
            });
            const content = await rawResponse.json();
            console.log("the content : ")
            console.log(content)
        }
        const filterSelect = document.getElementById('filter');
        const products = document.querySelectorAll('.product-card');

        filterSelect.addEventListener('change', () => {
            const filterValue = filterSelect.value;
            var array = [];
            products.forEach(product => {
                const productPrice = product.querySelector('.product-price').textContent;
                const price = parseInt(productPrice.split('$')[1]);
                if (filterValue === 'all' || price <= filterValue) {
                    array.push(product)
                    product.style.display = 'block';
                } else {
                    product.style.display = 'none';
                }
            });
            const selectedCategories = Array.from(categoryFilterForm.querySelectorAll('input[name="category"]:checked')).map(input => input.value);
            // Hide all products by default
            if (selectedCategories.length > 0) {
                products.forEach(product => product.style.display = 'none');
                selectedCategories.forEach(category => {
                    const matchingProducts = filteredProducts.querySelectorAll(`.product-card[data-category="${category}"]`);
                    matchingProducts.forEach(product => {
                        if (array.includes(product)) {
                            product.style.display = 'block'
                        }
                    });
                });
            }
        });
        const categoryFilterForm = document.getElementById('categoryFilterForm');
        const filteredProducts = document.getElementById('productsContainer');

        categoryFilterForm.addEventListener('change', () => {
            const filterValue = filterSelect.value;
            const selectedCategories = Array.from(categoryFilterForm.querySelectorAll('input[name="category"]:checked')).map(input => input.value);
            var array = []
            // Hide all products by default
            // const products = filteredProducts.querySelectorAll('.product');
            if (selectedCategories.length > 0) {
                products.forEach(product => product.style.display = 'none');
                console.log(selectedCategories)
                // Show products that match selected categories
                selectedCategories.forEach(category => {
                    const matchingProducts = filteredProducts.querySelectorAll(`.product-card[data-category="${category}"]`);
                    matchingProducts.forEach(product => product.style.display = 'block');
                    array = matchingProducts
                });
                array.forEach(product => {
                    const productPrice = product.querySelector('.product-price').textContent;
                    const price = parseInt(productPrice.split('$')[1]);
                    if (filterValue === 'all' || price <= filterValue) {
                        product.style.display = 'block';
                    } else {
                        product.style.display = 'none';
                    }
                });
            }
            else {
                products.forEach(product => product.style.display = 'block');
            }

        });
    </script>


    <%- include('partials/footer'); -%>