<%- include('partials/header'); -%>

<head>
  <title>Order Now</title>
</head>
<h1>Spiritual Drinks Menu</h1>

<div class="filters">
  <div class="searchBar">
    <input id="searchBar" type="text" placeholder="Search.." />
    <i class="fa-solid fa-magnifying-glass"></i>
  </div>

  <label class="filterLabel" for="filter">Filter by price:</label>
  <select id="filter">
    <option value="all">All</option>
    <option value="3">Under $3</option>
    <option value="10">Under $10</option>
    <option value="20">Under $20</option>
    <option value="30">Under $30</option>
    <option value="40">Under $40</option>
  </select>
  <label class="filterLabel">Filter by Categories:</label>
  <form id="categoryFilterForm" dir="ltr" class="filter-form">
    <label> <input id="wine" type="checkbox" name="category" value="Wine" />Wine </label>
    <label> <input id="beer" type="checkbox" name="category" value="Beer" />Beer </label>
    <label>
      <input id="alcohol" type="checkbox" name="category" value="Alcohol" />
      Alcohol
    </label>
    <label>
      <input id="accession" type="checkbox" name="category" value="Accessories" />
      Accessories
    </label>
  </form>
</div>
<main class="contentPage">
  <h2>Our Products</h2>
  <ul class="productsContainer" id="productsContainer">
    <% drinks.forEach((drink)=> { %>
    <li class="product-card" data-category="<%= drink.category %>" id="<%= drink._id %>" theId="<%= drink._id %>" onclick="goToProduct(event)">
      <img src="/<%= drink.image %>" alt="Example Image" theId="<%= drink._id %>" />
      <h3 class="product-title" theId="<%= drink._id %>"><%= drink.name %></h3>
      <p class="product-description" theId="<%= drink._id %>"><%= drink.description %></p>
      <p class="product-price" theId="<%= drink._id %>">Price: $<%= drink.price.toFixed(2) %></p>
      <input type="hidden" name="drinkId" value="<%= drink.id %>" id="drinkId" />
      <input type="hidden" name="userId" value="<%= userId %>" id="userId" />

      <% if(drink.quantity==0){ %>
      <p class="sold-out-message" style="font-size: 25px" theId="<%= drink._id %>">Sold Out</p>
      <%}else{%>
      <label for="quantity" theId="<%= drink._id %>">Quantity</label>
      <input type="number" id="quantity" data-item-id="<%= drink.id %>" class="quantity" name="quantity" min="1" value="1" required />
      <button class="add-to-cart" type="submit" data-item-id="<%= drink.id %> " data-userId="<%= userId %>" onclick="addToCart(event)">
        Add to Cart
      </button>
      <%}%>
    </li>
    <% }); %>
  </ul>
</main>

<script>
  var products1 = `<%- JSON.stringify(drinks) %>`;
  var product = JSON.parse(products1);
  var category1 = `<%- JSON.stringify(category) %>`;
  var category = JSON.parse(category1);
  if (category != "all") {
    const checkbox = document.getElementById(category);
    // Check the checkbox programmatically
    checkbox.checked = true;
    const products = document.querySelectorAll(".product-card");
    const categoryFilterForm = document.getElementById("categoryFilterForm");
    const selectedCategories = Array.from(categoryFilterForm.querySelectorAll('input[name="category"]:checked')).map((input) => input.value);
    const filteredProducts = document.getElementById("productsContainer");
    console.log(selectedCategories);
    if (selectedCategories.length > 0) {
      products.forEach((product) => (product.style.display = "none"));
      console.log(selectedCategories);
      selectedCategories.forEach((category) => {
        const matchingProducts = filteredProducts.querySelectorAll(`.product-card[data-category="${category}"]`);
        matchingProducts.forEach((product) => (product.style.display = "block"));
      });
    }
  }
  const categories = [
    ...new Set(
      product.map((item) => {
        return item;
      })
    ),
  ];
  const filterSelectPrice = document.getElementById("filter");
  const categoryFilter = document.getElementById("categoryFilterForm");
  async function goToProduct(event) {
    const drinkId = event.target.getAttribute("theId");
    console.log(drinkId);
    if (drinkId) {
      window.location.href = `/order/product/${drinkId}`;
    }
  }

  document.getElementById("searchBar").addEventListener("keyup", (e) => {
    const searchData = e.target.value.toLowerCase();
    const filteredData = categories.filter((item) => {
      return item.name.toLowerCase().includes(searchData);
    });
    const selectedCategories = Array.from(categoryFilter.querySelectorAll('input[name="category"]:checked')).map((input) => input.value);

    if (filterSelectPrice.value !== "all") {
      if (selectedCategories.length > 0) {
        product.forEach((pro) => {
          if (filteredData.includes(pro) && selectedCategories.includes(pro.category) && pro.price <= filterSelectPrice.value) {
            document.getElementById(`${pro._id}`).style.display = "block";
          } else {
            document.getElementById(`${pro._id}`).style.display = "none";
          }
        });
      } else {
        product.forEach((pro) => {
          if (filteredData.includes(pro) && pro.price <= filterSelectPrice.value) {
            document.getElementById(`${pro._id}`).style.display = "block";
          } else {
            document.getElementById(`${pro._id}`).style.display = "none";
          }
        });
      }
    } else {
      if (selectedCategories.length > 0) {
        product.forEach((pro) => {
          if (filteredData.includes(pro) && selectedCategories.includes(pro.category)) {
            document.getElementById(`${pro._id}`).style.display = "block";
          } else {
            document.getElementById(`${pro._id}`).style.display = "none";
          }
        });
      } else {
        product.forEach((pro) => {
          if (filteredData.includes(pro)) {
            document.getElementById(`${pro._id}`).style.display = "block";
          } else {
            document.getElementById(`${pro._id}`).style.display = "none";
          }
        });
      }
    }
  });
  async function addToCart(event) {
    const allQuantity = document.querySelectorAll(".quantity");
    const drinkId = event.target.getAttribute("data-item-id");
    const userId = event.target.getAttribute("data-userid");
    var drinkQuantity = 1;

    await allQuantity.forEach((quantity) => {
      console.log(drinkId);
      console.log(quantity.getAttribute("data-item-id"));
      if (quantity.getAttribute("data-item-id").trim() == drinkId.trim()) {
        drinkQuantity = quantity.value;
      }
    });
    var body = { drinkId: drinkId, quantity: drinkQuantity, userId: userId };
    const rawResponse = await fetch("http://localhost:3000/order/add-to-cart", {
      method: "POST",
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json",
      },
      body: JSON.stringify(body),
    });
    const content = await rawResponse.json();
    alert("Item has added");
  }
  const filterSelect = document.getElementById("filter");
  const products = document.querySelectorAll(".product-card");

  filterSelect.addEventListener("change", () => {
    const filterValue = filterSelect.value;
    var array = [];
    products.forEach((product) => {
      const productPrice = product.querySelector(".product-price").textContent;
      const price = parseInt(productPrice.split("$")[1]);
      if (filterValue === "all" || price <= filterValue) {
        array.push(product);
        product.style.display = "block";
      } else {
        product.style.display = "none";
      }
    });
    const selectedCategories = Array.from(categoryFilterForm.querySelectorAll('input[name="category"]:checked')).map((input) => input.value);
    // Hide all products by default
    if (selectedCategories.length > 0) {
      products.forEach((product) => (product.style.display = "none"));
      selectedCategories.forEach((category) => {
        const matchingProducts = filteredProducts.querySelectorAll(`.product-card[data-category="${category}"]`);
        matchingProducts.forEach((product) => {
          if (array.includes(product)) {
            product.style.display = "block";
          }
        });
      });
    }
  });
  const categoryFilterForm = document.getElementById("categoryFilterForm");
  const filteredProducts = document.getElementById("productsContainer");

  categoryFilterForm.addEventListener("change", () => {
    const filterValue = filterSelect.value;
    const selectedCategories = Array.from(categoryFilterForm.querySelectorAll('input[name="category"]:checked')).map((input) => input.value);
    var array = [];
    // Hide all products by default
    // const products = filteredProducts.querySelectorAll('.product');
    if (selectedCategories.length > 0) {
      products.forEach((product) => (product.style.display = "none"));
      console.log(selectedCategories);
      // Show products that match selected categories
      selectedCategories.forEach((category) => {
        const matchingProducts = filteredProducts.querySelectorAll(`.product-card[data-category="${category}"]`);
        matchingProducts.forEach((product) => (product.style.display = "block"));
        array = matchingProducts;
      });
      array.forEach((product) => {
        const productPrice = product.querySelector(".product-price").textContent;
        const price = parseInt(productPrice.split("$")[1]);
        if (filterValue === "all" || price <= filterValue) {
          product.style.display = "block";
        } else {
          product.style.display = "none";
        }
      });
    } else {
      products.forEach((product) => (product.style.display = "block"));
    }
  });
</script>

<%- include('partials/footer'); -%>
