<%- include('partials/header'); -%>

<head>
  <title>Reviews</title>
</head>

<body>
  <h1>Reviews</h1>

  <% reviews.forEach(function(review) { %>
  <div class="review">
    <p><%= review.title %></p>
    <p>Rating: <%= review.rating %></p>
    <p>Author: <%= review.author %></p>
    <p><%= review.body %></p>
    <p>Date: <%= review.date.toLocaleDateString() %></p>
  </div>
  <% }); %>

  <div class="form-container">
    <h2>Add a Review</h2>

    <!-- Review Form -->
    <form id="reviewForm">
      <!-- Title -->
      <label for="title">Title</label>
      <input type="text" id="title" name="title" required />

      <!-- Rating -->
      <label for="rating">Rating (1-5)</label>
      <input type="number" id="rating" name="rating" min="1" max="5" required />

      <!-- Review -->
      <label for="body">Review</label>
      <textarea id="body" name="body" rows="4" required></textarea>

      <button type="submit">Submit Review</button>
    </form>
    <p id="status"></p>
  </div>

  <%- include('partials/footer'); -%>

  <script>
    // Get the review form
    const form = document.querySelector("#reviewForm");

    // Add event listener for form submission
    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      // Get values
      var user1 = `<%- JSON.stringify(user) %>`;
      var user = JSON.parse(user1);
      console.log(user);
      const title = form.title.value;
      const body = form.body.value;
      const rating = form.rating.value;

      // API call from frontend to server, sending data from the form to the server to save in the database
      const res = await fetch("/reviews/addReview", {
        method: "POST",
        body: JSON.stringify({ user, title, body, rating }),
        headers: { "Content-type": "application/json" },
      });

      // After getting response from the server
      const data = await res.json();
      if (data == "done") {
        document.getElementById("status").textContent = "your review has been submited";
        form.title.value = "";
        form.body.value = "";
        form.rating.value = "";
      }
    });
  </script>
</body>
